server {
    # Listen on port 443
    listen        *:443 ssl default_server;
    # The virtualhost is our domain name
    server_name   "{{ inventory_hostname }}";
    proxy_read_timeout 300;
    proxy_connect_timeout 300;
    proxy_send_timeout 300;
    # Our log files will go here.
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;
    # redirect /prefix -> /prefix/
    rewrite ^$ / ;
    #rewrite ^/galaxy$ /galaxy/ ;
    #rewrite ^/galaxy/static/ /static/ ;
    location / { # toolshed seems to want to run at root. Must be a way to finesse in gunicorn. TODO fix!
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Upgrade $http_upgrade;
            proxy_pass http://localhost:9009;
    }

    location /static {
        alias /var/www/static;
        expires 24h;
    }

    location /robots.txt {
        alias /var/www/static/robots.txt;
    }

    location /favicon.ico {
        alias /var/www/static/favicon.ico;
    }

     location /api {
     # not sure why, but this is needed even with prefix set
        uwsgi_pass 127.0.0.1:5000;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }

   location /galaxy/robots.txt {
        alias /var/www/static/robots.txt;
    }

    location /galaxy/favicon.ico {
        alias /var/www/static/favicon.ico;
    }


   location /galaxy {
        # This is the backend to send the requests to.
        uwsgi_pass 127.0.0.1:5000;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }



    # serve visualization and interactive environment plugin static content
    location ~ ^/toolshed/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_server_dir }}/config/plugins/$plug_type/;
        try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
                  $vis_d/static/$static_file =404;
    }


    location /_x_accel_redirect/ {
        internal;
        alias /;
    }

    # Support click-to-run in the GTN-in-Galaxy Webhook
    location /galaxy/training-material/ {
        proxy_pass https://training.galaxyproject.org/training-material/;
    }

}

