##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# Galaxy Tool Shed
# assumes galaxy has already provided the basis for the server stuff commented out
server {
    #listen       *:443 ssl;
    #server_name {% for domain in certbot_domains %} {{ domain }}{% endfor %};

    location /toolshed {
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Upgrade $http_upgrade;
        proxy_pass http://localhost:9009;
    }

    location /toolshed/static {
        alias  {{ galaxy_server_dir }}/static;
        expires 24h;
    }

    location /robots.txt {
        alias {{ galaxy_server_dir }}/static/robots.txt;
    }

    location /favicon.ico {
        alias {{ galaxy_server_dir }}/static/favicon.ico;
    }
}
